@page "/contactdetail"

<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H2" Text="Contacts">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@AddContact_Click">
                        </RadzenButton>
                    </div>
                    <div class="input-group col-md-4 offset-md-5">
                        <input type="text" id="txtSearch" class="form-control" placeholder="Search Contact"
                               @bind="SearchTerm" @bind:event="oninput" />
                    </div>
                </div>

                <RadzenGrid @ref="ContactGrid" AllowFiltering="true" AllowPaging="true" PageSize="8" AllowSorting="false"
                            Data="@_contacts" TItem="Contact" Value="@_contact" RowDoubleClick="@ContactGrid_RowDoubleClick">
                    <Columns>
                        <RadzenGridColumn TItem="Contact" Property="FirstName" Title="First Name" Width="30" />
                        <RadzenGridColumn TItem="Contact" Property="LastName" Title="Last Name" Width="30" />
                        <RadzenGridColumn TItem="Contact" Property="MobileNo" Title="Mobile No." Width="30" />
                        <RadzenGridColumn TItem="Contact" Property="EmailAddress" Title="Email Address" Width="30" />
                        <RadzenGridColumn TItem="Contact" Property="Address" Title="Address" Width="200" />
                        <RadzenGridColumn TItem="Contact" Context="contact" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="50px">
                            <Template Context="Contact">
                                <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditContact_Click(Contact))">
                                </RadzenButton>
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="Contact" Context="Contact" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="50px">
                            <Template Context="contact">
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteContact_Click(args, _contact))">
                                </RadzenButton>
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

@code {
    [Inject]
    private DialogService DialogService { get; set; }
    [Inject]
    private NotificationService NotificationService { get; set; }
    [Inject]
    private ContactService ContactService { get; set; }

    RadzenGrid<Contact> ContactGrid;
    private IEnumerable<Contact> _contacts;
    private readonly Contact _contact = new Contact();
   
    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        _contacts = await ContactService.GetContactsAsync();
    }

    private async void AddContact_Click(MouseEventArgs args)
    {
        var result = await DialogService.OpenAsync<AddContact>("Add Contact", null);
        await Load();
        await InvokeAsync(StateHasChanged);
    }

    private async void EditContact_Click(Contact contact)
    {
        var result = await DialogService.OpenAsync<EditContact>("Edit Contact",
            new Dictionary<string, object>()
            {
                {
                    "Id", contact.Id
                }
                    });

        await Load();
        await InvokeAsync(StateHasChanged);
    }

    private async void DeleteContact_Click(MouseEventArgs args, Contact contact)
    {
        try
        {
            await ContactService.DeleteContactAsync(contact.Id);
            await Load();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, $"Error", ex.Message);
        }
    }

    private string searchTerm;

    private string SearchTerm
    {
        get { return searchTerm; }

        set
        {
            searchTerm = value;
            InvokeAsync(async () => await SearchContact());
        }
    }

    private async Task SearchContact()
    {
        if (String.IsNullOrEmpty(searchTerm) == false)
        {
            _contacts = _contacts.Where(c =>
                         c.FirstName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                         c.LastName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                         c.MobileNo.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                         c.EmailAddress.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                         c.Address.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));
        }
        else
        {
            await Load();
        }

        await InvokeAsync(StateHasChanged);
    }

    private async void ContactGrid_RowDoubleClick(Contact contact)
    {
        var result = await DialogService.OpenAsync<EditContact>("Edit Contact", new Dictionary<string, object>()
        {
            {
                "Id", contact.Id
            }
        });

        await Load();
        await InvokeAsync(StateHasChanged);
    }
}